.data-table {
  &-cell {
    text-align: center;
    padding: 8px 24px;

    &:first-child {
      text-align: left;
      padding-left: 16px;
      font-weight: bold;
    }

    .edit-remove {
      display: flex;
      justify-content: space-between;
      width: 180px;
    }
  }
}
