.schedule-title {
  height: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.schedule-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.prev-next {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  .btn {
    &-main {
      width: 140px;
    }

    &-bottom {
      width: 200px;
    }
  }
}
